<form method="post" action="{{ path('post_delete', {'idPost': post.idPost}) }}" onsubmit="return confirm('Estas seguro que deseas eliminar la publicacion?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.idPost) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
