{% extends 'base.html.twig' %}

{% block title %}Nueva Publicacion{% endblock %}

{% block content %}
<div class="container">
    <h1>Nueva Publicacion</h1>

    {{ include('post/_form.html.twig') }}

</div>
{% endblock %}
